body {
    background-color: #131b38;
    margin: 0;
    padding: 0;
    
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    margin: 0px;
}
h3 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    opacity: .95;
    font-size: 22px;
}
h4 {
    font-family: "Montserrat", sans-serif;
    color: #d6dbf1;
    font-weight: 400;
    font-size: 18px;
}
h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #d6dbf1;
    font-size: 16px;
    opacity: .8;
    line-height: 1.5;
}
iframe {
    border: none;
    outline: none;
}
.wrapper {
    display: grid;
    grid-template-columns: 9fr 15fr;
    gap: 200px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0px 5% 0 5%;
}

.left {
    grid-column: 1;
    position: sticky;
    top: 0;
    height: 90vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.software-engineer-text {
    margin-top: 10px;
    margin-bottom: 5px;
}
.type-text {
    margin: 0px;
}
.short-description {
    margin-top: 15px;
}

.top {

}

.middle {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.middle li a {
    font-family: "Montserrat", sans-serif;
    color: #d6dbf1;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}
.bottom {}
.right {
    grid-column: 2;
    margin-top: 50px;
}

.main-description {
    color: #d6dbf1;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6; 
    font-weight: 300;
    opacity: .85
}

.main-description span {
    color: white;
    opacity: 1;
    font-weight: bold;
}

.experience, #projects {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;

}
.work, .individual-project {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
}


.work:hover, .individual-project:hover {
    background-color: #1c2853;
    cursor: pointer;
}
.work:hover .work-details h1 {
    color: #f5ae62;
}
.work h5, .individual-project h5 {
    font-size: 12px;
    white-space: nowrap;
    margin-top: 0;
}
.work img, .individual-project img {
    height: 50px;
    margin-left: 30px;
    margin-right: 10px;
}
.work-details, .project-details {
    display: flex;
    flex-direction: column;
}

.work-details h1, .project-details h1 {
    font-size: 18px;
    transition: color 0.3s ease;
}

.work-details h2 {
    font-size: 18px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: 0;
}

.bullet-points li {
    color: #d6dbf1;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6; 
    font-weight: 300;
    opacity: .85;
    width: 450px;
    font-size: 14px;
}

.work-details h5 {
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.skills-used li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
    background-color: rgba(218,119,13, .2);
    font-family: "Montserrat", sans-serif;
    color:#f5ae62; 
    list-style-type: none;
}
.resume-link {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 26px;
    margin-left: 50%;
}
.project-details img {
    width: 240px;
    height: 120px;
    margin-bottom: 5px;
}
.crius-images {
    display: inline-block;
}
.project-details .crius-images img {
    width: 120px;
    height: 240px;
}
.relevant-coursework-label {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 26px; 
}
.school-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
}
.school-year ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
    background-color: rgba(22,155,167, .2); 
    color: #44d4e6;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}
.school-year h3 {
    font-size: 12px;
    white-space: nowrap;
    margin-top: 0;
}

.individual-blog-link {
    height: 60px;
    width: 400px;
    color: #fff;
}
